// Layout
//
// Styles for managing the structural hierarchy of the site.

body {
  background-color: $neutral--light;
}

.container {

}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.post-header,
.post-content {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(2rem, 1fr) minmax(0, 36rem) minmax(2rem, 1fr) minmax(0, 1fr);
  > * {
    grid-column: 3;
  }
}

.posts {

}

.full {
  grid-column: 2 / 5;
}

.video__wrapper {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

footer {
  margin-bottom: 2rem;
}
